@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
 background{ background-image:url('Capture12.PNG');}
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
html, body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
}


.table-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.table-holder .table-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 40px;
    
}

.table-content .table-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.table-content h3 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.table-content h3.form-title {
    margin-bottom: 0px;
    
}

.table-content p {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0px;
}


.table-content label, .was-validated .table-check-input:invalid~.table-check-label, .was-validated .table-check-input:valid~.table-check-label{
    color: #ffffff;
}

.table-content input[type=text], .table-content input[type=password], .table-content input[type=email], .table-content select {
    width: 94%;
    padding: 5px 5px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    color: #808080;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn1-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
      margin-right: 16px;
}

.btn1-primary:hover, .btn1-primary:focus, .btn1-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
     margin-right: 16px;
     
}
.btn2-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn2-primary:hover, .btn2-primary:focus, .btn2-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
     
}

.table-content textarea {
    position: static !important;
    width: 900%;
    padding: 5px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.table-content textarea:hover, .table-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #400040;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}